<h1>Escape From Atlanta</h1>
<h3>Give us your address or corner, and we'll tell you where the nearest bus is!</h3>
<h3>Choose the number to the distance you'd like to use. 1) Half a mile, 2) One point two miles, 3) Three miles, 4) Sixty miles </h3>


<%= render 'form' %>



