<h1>Escape From Atlanta</h1>
<h3>Give us your address or corner, and we'll tell you where the nearest bus is!</h3>
<h3>Choose the number to the max distance you'd like to use.
  <ol>
    <ls> 1) Half a mile </ls><br>
    <ls> 2) One point two miles </ls><br>
    <ls> 3) Three miles </ls> <br>
    <ls>4) Sixty miles </ls> <br>
  </ol>
</h3>


<%= render 'form' %>



